<h2 style="margin-top: 15vh; text-align: center;">Products</h2>

<div class="container row">
  <div *ngFor="let val of products; index as id" class="container-fluid col-lg-3 col-md-6 col-sm-12">
    <div class="card" style="width: 18rem; background: rgba(144, 238, 144, 0.797); margin-top: 3vh; margin-bottom: 2vh;">
        <img src="{{val.image}}" class="card-img-top" alt="...">
        <div class="card-body">
        <a routerLink="products/{{id}}"> <h5 class="card-title">{{val.name}}</h5></a> 
          <p class="card-text">{{val.description}}</p>
          <p *ngIf="val.description">
            Description: {{ val.description }}
          </p>
          <p class="card-text">{{val.price | currency }}</p>
          <a class="btn btn-primary" (click)="addToCart(val)">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
